@{ 
    if (Session["admin_session"] == null)
    {
        Response.Redirect("~/admin/DangNhap");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Quyết Tiến</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Areas/admin/assets/images/favicon.ico">

    <!-- Plugins CSS-->

    <!-- Select2 -->
    <link href="~/Areas/admin/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    
    <!-- DataTables -->
    <link href="~/Areas/admin/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable -->
    <link href="~/Areas/admin/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="~/Areas/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/admin/assets/css/style.css" rel="stylesheet" type="text/css" />

    <!-- Custom css -->
    <link href="~/Areas/admin/assets/css/mycss.css" rel="stylesheet" type="text/css" />

    <script src="~/Areas/admin/assets/js/modernizr.min.js"></script>

</head>


<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="@Url.Action("Index", "Index")" class="logo">
                    <span>
                        <img src="~/Areas/admin/assets/images/logo.png" alt="" height="50">
                    </span>
                    <i>
                        <img src="~/Areas/admin/assets/images/logo_sm.png" alt="" height="28">
                    </i>
                </a>
            </div>

            <nav class="navbar-custom">

                <ul class="list-unstyled topbar-right-menu float-right mb-0">
                    <li class="dropdown notification-list hide-phone">
                        @*<a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="mdi mdi-earth"></i> English  <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">
                                Spanish
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">
                                Italian
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">
                                French
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">
                                Tiếng Việt
                            </a>

                        </div>*@
                    </li>

                    <li class="dropdown notification-list">
                        @*<a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="fi-bell noti-icon"></i>
                            <span class="badge badge-danger badge-pill noti-icon-badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h6 class="m-0"><span class="float-right"><a href="" class="text-dark"><small>Clear All</small></a> </span>Notification</h6>
                            </div>

                            <div class="slimscroll" style="max-height: 190px;">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-success"><i class="mdi mdi-comment-account-outline"></i></div>
                                    <p class="notify-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info"><i class="mdi mdi-account-plus"></i></div>
                                    <p class="notify-details">New user registered.<small class="text-muted">5 hours ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-danger"><i class="mdi mdi-heart"></i></div>
                                    <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">3 days ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning"><i class="mdi mdi-comment-account-outline"></i></div>
                                    <p class="notify-details">Caleb Flakelar commented on Admin<small class="text-muted">4 days ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-purple"><i class="mdi mdi-account-plus"></i></div>
                                    <p class="notify-details">New user registered.<small class="text-muted">7 days ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-custom"><i class="mdi mdi-heart"></i></div>
                                    <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">13 days ago</small></p>
                                </a>
                            </div>

                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                View all <i class="fi-arrow-right"></i>
                            </a>

                        </div>*@
                    </li>

                    <li class="dropdown notification-list">
                        @*<a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="fi-speech-bubble noti-icon"></i>
                            <span class="badge badge-light badge-pill noti-icon-badge">6</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h6 class="m-0"><span class="float-right"><a href="" class="text-dark"><small>Clear All</small></a> </span>Chat</h6>
                            </div>

                            <div class="slimscroll" style="max-height: 190px;">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="~/Areas/admin/assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">Cristina Pride</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Hi, How are you? What about our next meeting</p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="~/Areas/admin/assets/images/users/avatar-3.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">Sam Garret</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Yeah everything is fine</p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="~/Areas/admin/assets/images/users/avatar-4.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">Karen Robinson</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Wow that's great</p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="~/Areas/admin/assets/images/users/avatar-5.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">Sherry Marshall</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Hi, How are you? What about our next meeting</p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="~/Areas/admin/assets/images/users/avatar-6.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">Shawn Millard</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Yeah everything is fine</p>
                                </a>
                            </div>

                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                View all <i class="fi-arrow-right"></i>
                            </a>

                        </div>*@
                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="~/Areas/admin/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> <span class="ml-1">@Session["fullname"] <i class="mdi mdi-chevron-down"></i> </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h6 class="text-overflow m-0">Chào @Session["fullname"] !</h6>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fi-cog"></i> <span>Đổi mật khẩu</span>
                            </a>
                            <!-- item-->
                            <a href="@Url.Action("Index","DangXuat")" class="dropdown-item notify-item">
                                <i class="fi-power"></i> <span>Đăng xuất</span>
                            </a>

                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="dripicons-menu"></i>
                        </button>
                    </li>
                    <li class="hide-phone app-search">
                        <form role="search" class="">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        @*<li class="menu-title">Navigation</li>*@
                        <li>
                            <a href="@Url.Action("Index", "Index")">
                                <i class="fi-air-play"></i><span> Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "DanhMuc")">
                                <i class="fi-tag"></i><span> Danh mục</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "SanPham" )">
                                <i class="fi-bag"></i><span> Sản phẩm</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "KhachHang")">
                                <i class="fi-head"></i><span> Khách hàng</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);"><i class="fi-paper"></i> <span> Hóa đơn </span> <span class="menu-arrow"></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="@Url.Action("Index", "TienMat")"><i class="mdi mdi-currency-usd"></i>Tiền mặt</a></li>
                                <li><a href="@Url.Action("Index","TraGop")"><i class="mdi mdi-credit-card"></i>Trả góp</a></li>
                            </ul>
                        </li>



                    </ul>

                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">

                    @RenderBody()

                </div> <!-- container -->

            </div> <!-- content -->

            <footer class="footer text-center">
                <p>Copyright © Quyết Tiến @DateTime.Now.Year</p>
            </footer>

        </div>


        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="~/Areas/admin/assets/js/jquery.min.js"></script>
    <script src="~/Areas/admin/assets/js/popper.min.js"></script>
    <script src="~/Areas/admin/assets/js/bootstrap.min.js"></script>
    <script src="~/Areas/admin/assets/js/metisMenu.min.js"></script>
    <script src="~/Areas/admin/assets/js/waves.js"></script>
    <script src="~/Areas/admin/assets/js/jquery.slimscroll.js"></script>

    <!-- Plugins-->
    <script src="~/Areas/admin/assets/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/Areas/admin/assets/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- App js -->
    <script src="~/Areas/admin/assets/js/jquery.core.js"></script>
    <script src="~/Areas/admin/assets/js/jquery.app.js"></script>

    @RenderSection("script", required: false)

</body>
</html>